.personalData {

    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5%;
    background-image: var(--white-text);
    color: var(--background-color);
}

.dataForm {
    margin: 10px 0;
    text-align: center;
    color: var(--background-color);
    font-weight: 700;
}

.dataForm-title {
    font-weight: 700;
}

.picture-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--white-text);
    color: var(--background-color);
}

.user-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.user-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 5px;
    object-position: center;
    border-radius: 2%;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-user-btn,
.change-profile-pic-btn,
.upload-img-btn {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--white-text);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.edit-user-btn:hover,
.change-profile-pic-btn:hover,
.upload-img-btn:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.edit-user-btn:active,
.change-profile-pic-btn:active,
.upload-img-btn:active {
    background-color: var(--hover-button-background-color);
    color: var(--background-color);
}

@media screen and (max-width: 768px) {
    .personalData {
        flex-direction: column;
    }

    .user-image-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .user-info-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .user-image {
        height: 150px;
        width: 150px;
    }
}