.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.form-container {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    color: var(--white-text);
}

.form-input,
.form-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.form-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

.form-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}